<div data-hook="admin_api_destination_form_fields" class="row">
  <div class="alpha four columns">
    <div data-hook="name" class="field">
      <%= f.label :name, t(:name) %>
      <%= f.text_field :name, :class => 'fullwidth' %>
    </div>
  </div>
  <div class="alpha two columns">
    <div data-hook="price_travel_id" class="field">
      <%= f.label :price_travel_id, 'price travel id' %>
      <%= f.text_field :price_travel_id, :class => 'fullwidth' %>
    </div>
  </div>
  <div class="alpha two columns">
    <div data-hook="best_day_id" class="field">
      <%= f.label :best_day_id, 'best day id' %>
      <%= f.text_field :best_day_id, :class => 'fullwidth' %>
    </div>
  </div>
</div>