<div class="tab-pane fade <%= 'active in' if active %>" id="tours-tab">
    <form action="tour-list-view.html" method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label><%= t(:your_destination) %></label>
                    <input type="text" class="input-text full-width" placeholder="<%= t(:enter_destination)%>" />
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="form-group row">
                    <div class="col-xs-6">
                        <label><%= t(:pick_up) %></label>
                        <div class="datepicker-wrap">
                            <input type="text" class="input-text full-width" placeholder="<%= t(:m_d_y) %>" />
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label><%= t(:tour_length) %></label>
                        <div class="selector">
                            <select class="full-width">
                                <option value=""><%= t(:select_length) %></option>
                                <option value="1">1-2 <%= t(:hours) %></option>
                                <option value="2">4 <%= t(:hours) %></option>
                                <option value="3">8 <%= t(:hours) %></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group row">
                    <div class="col-xs-6">
                        <label>&nbsp;</label>
                        <button class="full-width animated" data-animation-type="bounce" data-animation-duration="1"><%= t(:search_now) %></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>