<div class="row">
  <div id="main" class="col-sms-6 col-sm-8 col-md-9">
    <div class="booking-section travelo-box">

      <form class="booking-form">
        <%= render partial: 'spree/shared/booking_information' %>
        <h2>Arrival/Flight Information</h2>

        <div class="form-group row">
          <div class="col-sm-6 col-md-5">
            <label>Airline Name</label>

            <div class="selector full-width">
              <select>
                <option value="">Select...</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 col-md-5">
            <label>Arriving Number</label>
            <input type="text" class="input-text full-width">
          </div>
        </div>
        <hr>
        <%= render partial: 'spree/shared/booking_confirmation' %>
      </form>
    </div>
  </div>
  <div class="sidebar col-sms-6 col-sm-4 col-md-3">
    <div class="booking-details travelo-box">
      <h4>Booking Details</h4>
      <% c=@cars.first %>
      <article class="car-detail">
        <figure class="clearfix">
          <a title="" href="car-detailed.html" class="middle-block"><img class="middle-item" alt="" src="http://placehold.it/75x75"></a>

          <div class="travel-title">
            <h5 class="box-title"><%= c.car_name %>
              <small><%= c.car_type %> car</small>
            </h5>
            <a href="car-detailed.html" class="button">EDIT</a>
          </div>
        </figure>
        <div class="details">
          <div class="icon-box style11 full-width">
            <div class="icon-wrapper">
              <i class="soap-icon-departure"></i>
            </div>
            <dl class="details">
              <dt class="skin-color">Date</dt>
              <dd><%= c.pick_off_date %> to <%= c.drop_off_date %></dd>
            </dl>
          </div>
          <div class="icon-box style11 full-width">
            <div class="icon-wrapper">
              <i class="soap-icon-departure"></i>
            </div>
            <dl class="details">
              <dt class="skin-color">Time</dt>
              <dd><%= c.pick_off_short %> to <%= c.drop_off_short %></dd>
            </dl>
          </div>
          <div class="icon-box style11 full-width">
            <div class="icon-wrapper">
              <i class="soap-icon-departure"></i>
            </div>
            <dl class="details">
              <dt class="skin-color">Location</dt>
              <dd><%= c.location %> city to <%= c.drop_location %></dd>
            </dl>
          </div>
        </div>
      </article>

      <h4>Other Details</h4>
      <dl class="other-details">
        <dt class="feature">Mileage included:</dt>
        <dd class="value"><%= c.mileage %></dd>
        <dt class="feature">Damage Protection:</dt>
        <dd class="value"><%= c.damage %> USD</dd>
        <dt class="feature">Per day price:</dt>
        <dd class="value"><%= c.per_day %></dd>
        <dt class="feature">taxes and fees:</dt>
        <dd class="value"><%= c.taxes_fees %></dd>
        <dt class="total-price">Total Price</dt>
        <dd class="total-price-value"><%= c.total_price %></dd>
      </dl>
    </div>

    <%= render partial: 'spree/shared/help' %>
  </div>
</div>