<div class="tab-pane fade <%= 'active in' if active %>" id="search-houses-tab">
  <form class="search-form">
    <div class="row">
      <input type="hidden" name="locale" value="<%= params[:locale] %>">

      <div class="form-group col-sm-6 col-md-3">
        <label for="search-going-to"><%= t(:your_destination) %></label>
        <select name="search-going-to" required="true" class="select2" placeholder="<%= t(:enter_destination) %>"></select>
      </div>

      <div class="form-group col-sm-5 col-md-3">
        <div class="row">
          <div class="col-xs-6">
            <label><%= t(:check_in) %></label>

            <div class="datepicker-wrap">
              <input type="text" name="search-check-in-date" required="true" class="input-text full-width" placeholder="mm/dd/yy"/>
            </div>
          </div>
          <div class="col-xs-6">
            <label><%= t(:check_out) %></label>

            <div class="datepicker-wrap">
              <input type="text" name="search-check-out-date" required="true" class="input-text full-width" placeholder="mm/dd/yy"/>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group col-sm-6 col-md-3">
        <div class="row">
          <div class="col-xs-4">
            <label><%= t(:rooms) %></label>

            <div class="selector">
              <select name="search-rooms" required="true" class="full-width">
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
              </select>
            </div>
          </div>
          <div class="col-xs-4">
            <label><%= t(:adults) %></label>

            <div class="selector">
              <select name="search-adults" required="true" class="full-width">
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
              </select>
            </div>
          </div>
          <div class="col-xs-4">
            <label><%= t(:kids) %></label>

            <div class="selector">
              <select name="search-kids" required="true" class="full-width">
                <option value="0">00</option>
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7"></div>
        <div class="form-group col-sm-6 col-md-2 ">
          <label class="hidden-xs">&nbsp;</label>
          <button type="submit" class="full-width animated" name="search-submit" data-animation-type="bounce" data-animation-duration="1"><%= t(:search_now) %></button>
        </div>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript">
    tjq(document).ready(function () {
        // Set options into destination auto-complete component with /api/destinations?service=holiplus service response.
        tjq('#search-houses-tab [name=search-going-to]').loadSelectOptions('/api/destinations', {service: 'holiplus'});

        // Add all templates found in the DOM (it will search for <script> blocks which are of type 'text/html'.
        tjq.Mustache.addFromDom();

        // Listen to submit event search form.
        tjq('#search-houses-tab form').on('submit', function (e) {

            // Search and render houses products.
            tjq(this).searchProducts('houses', '/api/houses', function (sucefful, error) {
                if (sucefful) {
                    // Render response items.
                    tjq('#search-result-items').renderProducts('houses');
                }
            });

            // Cancel default submit action.
            e.preventDefault();
        });
    });
</script>