<% content_for :pagetitle do %>
    <%= render partial: 'spree/properties/pagetitle' %>
<% end %>

<% content_for :travel_search_box do %>
    <%= render :partial => 'spree/properties/search_box', :locals => {id: 'properties', active: true} %>
<% end %>

<% content_for :sidebar do %>
    <%= render partial: 'spree/properties/filter' %>
<% end %>

<%= render partial: 'spree/properties/sort_by' %>

<div id="houses-search-result">
  <%= render partial: 'spree/properties/list' %>
  <%= render partial: 'spree/properties/grid' %>
  <%= render partial: 'spree/properties/block' %>
</div>

<script type="text/javascript">
    tjq(document).ready(function () {
        tjq('#houses-search-result').renderProducts('houses');
    })
</script>

