<div class="page-title-container">
  <div class="container">
    <div class="page-title pull-left">
      <h2 class="entry-title">About Us</h2>
    </div>
    <ul class="breadcrumbs pull-right">
      <li><a href="#">HOME</a></li>
      <li class="active">About Us</li>
    </ul>
  </div>
</div>
<section id="content">
  <div class="container">
    <div id="main">
      <div class="large-block image-box style6">
        <article class="box">
          <figure class="col-md-5">
            <a href="#" title="" class="middle-block middle-block-auto-height" style="position: relative; height: 149px;"><img class="middle-item" src="http://placehold.it/476x318" alt="" width="476" height="318" style="position: absolute; top: 50%; margin-top: -163px; left: 50%; margin-left: -244px;"></a>
          </figure>
          <div class="details col-md-offset-5">
            <h4 id="who_we_are" class="box-title"><%= t(:who_we_are).html_safe %></h4>
            <%= t(:who_we_are_text_html).html_safe %>
          </div>
        </article>
        <article class="box">
          <figure class="col-md-5 pull-right middle-block middle-block-auto-height" style="position: relative; height: 149px;">
            <a href="#" title=""><img class="middle-item" src="http://placehold.it/476x318" alt="" width="476" height="318" style="position: absolute; top: 50%; margin-top: -163px; left: 50%; margin-left: -244px;"></a>
          </figure>
          <div class="details col-md-7">
            <h4 id="what_do_we_do" class="box-title"><%= t(:what_do_we_do).html_safe %></h4>
            <%= t(:what_do_we_do_text_html).html_safe %>
          </div>
        </article>
        <article class="box">
          <figure class="col-md-5">
            <a href="#" title="" class="middle-block middle-block-auto-height" style="position: relative; height: 149px;"><img class="middle-item" src="http://placehold.it/489x489" alt="" style="position: absolute; top: 50%; margin-top: -244px; left: 50%; margin-left: -244px;"></a>
          </figure>
          <div class="details col-md-offset-5">
            <h4 id="what_do_we_offer" class="box-title"><%= t(:what_do_we_offer).html_safe %></h4>
            <%= t(:what_do_we_offer_text_html).html_safe %>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>