<section class="slideshow-bg slider">
  <div id="slideshow">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <div class="slidebg" style="background-image: url('https://s3-us-west-2.amazonaws.com/webtriptocuba/sliders-destinos-santiago-ima.jpg');">
            <div class="container">
            <%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/etiquetas-destinos-santiago.png',class:'label_slider')%>
            </div>
          </div>
        </li>
        <li>
          <div class="slidebg" style="background-image: url('https://s3-us-west-2.amazonaws.com/webtriptocuba/sliders-destinos-cienf.jpg');">
            <div class="container">
              <%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/etiquetas-destinos-cienfuegos.png',class:'label_slider')%>
            </div>
          </div>
        </li>
        <li>
          <div class="slidebg" style="background-image: url('https://s3-us-west-2.amazonaws.com/webtriptocuba/sliders-destinos-trinidad.jpg');">
            <div class="container">
              <%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/etiquetas-destinos-trinidad.png',class:'label_slider')%>
            </div>
          </div>
        </li>
        <li>
          <div class="slidebg" style="background-image: url('https://s3-us-west-2.amazonaws.com/webtriptocuba/sliders-destinos-varadero.jpg');">
            <div class="container">
              <%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/etiquetas-destinos-varadero.png',class:'label_slider')%>
            </div>
          </div>
        </li>
        <li>
          <div class="slidebg" style="background-image: url('https://s3-us-west-2.amazonaws.com/webtriptocuba/sliders-destinos-vinales.jpg');">
            <div class="container">
              <%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/etiquetas-destinos-vinales.png',class:'label_slider')%>
            </div>
          </div>
        </li>
        <li>
          <div class="slidebg" style="background-image: url('https://s3-us-west-2.amazonaws.com/webtriptocuba/sliders-destinos-cayo-guillermo.jpg');">
            <div class="container">
              <%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/etiquetas-destinos-cayo-guillermo.png',class:'label_slider')%>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<script type="text/javascript">
    tjq(".flexslider").flexslider({
        animation: "fade",
        controlNav: true,
        animationLoop: true,
        directionNav: true,
        slideshow: true,
        slideshowSpeed: 4000
    });
</script>

