<section id="content">
  <div class="container">
    <h2 class="CheapFlightTitle">Cheap Flights & Air
      Tickets <%= image_tag('icon/flight_blue_32x32.png', class: 'mytrp_icon') %></h2>

    <div class="image-carousel style2 block" data-animation="slide" data-item-width="270" data-item-margin="30">

      <div class="flex-viewport" style="overflow: hidden; position: relative;">
        <ul class="slides image-box listing-style2 flight" style="width: 1000%; transition-duration: 0.6s; transform: translate3d(0px, 0px, 0px);">
          <li style="width: 270px; float: left; display: block;">
            <article class="box">
              <figure>
                <span><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/airline1.png', size: "270x160", draggable: false) %></span>
              </figure>
              <div class="details">
                <a title="View all" href="flight-detailed.html" class="pull-right button btn-small uppercase">select</a>
                <h4 class="box-title">La Habana</h4>
                <label class="price-wrapper">
                  <span class="price">$620</span>oneway
                </label>
              </div>
            </article>
          </li>
          <li style="width: 270px; float: left; display: block;">
            <article class="box">
              <figure>
                <span><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/airline4.png', size: "270x160", draggable: false) %></span>
              </figure>
              <div class="details">
                <a title="View all" href="flight-detailed.html" class="pull-right button btn-small uppercase">select</a>
                <h4 class="box-title">Pinar del Rio</h4>
                <label class="price-wrapper">
                  <span class="price">$620</span>oneway
                </label>
              </div>
            </article>
          </li>
          <li style="width: 270px; float: left; display: block;">
            <article class="box">
              <figure>
                <span><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/airline3.png', size: "270x160", draggable: false) %></span>
              </figure>
              <div class="details">
                <a title="View all" href="flight-detailed.html" class="pull-right button btn-small uppercase">select</a>
                <h4 class="box-title">Trinidad</h4>
                <label class="price-wrapper">
                  <span class="price">$620</span>oneway
                </label>
              </div>
            </article>
          </li>
          <li style="width: 270px; float: left; display: block;">
            <article class="box">
              <figure>
                <span><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/airline4.png', size: "270x160", draggable: false) %></span>
              </figure>
              <div class="details">
                <a title="View all" href="flight-detailed.html" class="pull-right button btn-small uppercase">select</a>
                <h4 class="box-title">Cienfuegos</h4>
                <label class="price-wrapper">
                  <span class="price">$620</span>oneway
                </label>
              </div>
            </article>
          </li>
          <li style="width: 270px; float: left; display: block;">
            <article class="box">
              <figure>
                <span><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/airline1.png', size: "270x160", draggable: false) %></span>
              </figure>
              <div class="details">
                <a title="View all" href="flight-detailed.html" class="pull-right button btn-small uppercase">select</a>
                <h4 class="box-title">Santiago de Cuba</h4>
                <label class="price-wrapper">
                  <span class="price">$620</span>oneway
                </label>
              </div>
            </article>
          </li>
          <li style="width: 270px; float: left; display: block;">
            <article class="box">
              <figure>
                <span><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/airline4.png', size: "270x160", draggable: false) %></span>
              </figure>
              <div class="details">
                <a title="View all" href="flight-detailed.html" class="pull-right button btn-small uppercase">select</a>
                <h4 class="box-title">Varadero</h4>
                <label class="price-wrapper">
                  <span class="price">$620</span>oneway
                </label>
              </div>
            </article>
          </li>
          <li style="width: 270px; float: left; display: block;">
            <article class="box">
              <figure>
                <span><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/airline3.png', size: "270x160", draggable: false) %></span>
              </figure>
              <div class="details">
                <a title="View all" href="flight-detailed.html" class="pull-right button btn-small uppercase">select</a>
                <h4 class="box-title">Paris</h4>
                <label class="price-wrapper">
                  <span class="price">$620</span>oneway
                </label>
              </div>
            </article>
          </li>
          <li style="width: 270px; float: left; display: block;">
            <article class="box">
              <figure>
                <span><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/airline4.png', size: "270x160", draggable: false) %></span>
              </figure>
              <div class="details">
                <a title="View all" href="flight-detailed.html" class="pull-right button btn-small uppercase">select</a>
                <h4 class="box-title">Paris</h4>
                <label class="price-wrapper">
                  <span class="price">$620</span>oneway
                </label>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <ol class="flex-control-nav flex-control-paging">
        <li><a class="flex-active">1</a></li>
        <li><a class="">2</a></li>
      </ol>
      <ul class="flex-direction-nav">
        <li><a class="flex-prev" href="#">Previous</a></li>
        <li><a class="flex-next" href="#">Next</a></li>
      </ul>
    </div>
  </div>
</section>  