<div class="section container">
   <h2><%= image_tag('icon/star_blue_32x32.png', class: 'mytrp_icon') %><%= t(:popular_destinations) %> </h2>

   <div class="row image-box style3">
     <div class="col-sms-6 col-sm-6 col-md-3">
       <article class="box">
         <figure class="animated fadeInDown" data-animation-type="fadeInDown" data-animation-duration="1" style="animation-duration: 1s; visibility: visible;">
           <a href="ajax/slideshow-popup.html" title="" class="hover-effect popup-gallery"><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/dest_habana_s.jpg', size: "270x160", alt: "Varadero") %></a>
         </figure>
         <div class="details">
           <span class="price"><small>FROM</small>$490</span>
           <h4 class="box-title"><a href="hotel-detailed.html"><%= t(:destinohabana) %><small><%= t(:destinohabana) %></small></a></h4>
         </div>
       </article>
     </div>
     <div class="col-sms-6 col-sm-6 col-md-3">
       <article class="box">
         <figure class="animated fadeInDown" data-animation-type="fadeInDown" data-animation-duration="1" style="animation-duration: 1s; visibility: visible;">
           <a href="ajax/slideshow-popup.html" title="" class="hover-effect popup-gallery"><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/dest_varadero_s.jpg', size: "270x160", alt: "Varadero") %></a>
         </figure>
         <div class="details">
           <span class="price"><small>FROM</small>$490</span>
           <h4 class="box-title"><a href="hotel-detailed.html"><%= t(:varadero) %><small><%= t(:varadero) %></small></a></h4>
         </div>
       </article>
     </div>
     <div class="col-sms-6 col-sm-6 col-md-3">
       <article class="box">
         <figure class="animated fadeInDown" data-animation-type="fadeInDown" data-animation-duration="1" style="animation-duration: 1s; visibility: visible;">
           <a href="ajax/slideshow-popup.html" title="" class="hover-effect popup-gallery"><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/dest_trinidad_s.jpg', size: "270x160", alt: "Varadero") %></a>
         </figure>
         <div class="details">
           <span class="price"><small>FROM</small>$490</span>
           <h4 class="box-title"><a href="hotel-detailed.html"><%= t(:destinotrinidad) %><small><%= t(:destinotrinidad) %></small></a></h4>
         </div>
       </article>
     </div>
     <div class="col-sms-6 col-sm-6 col-md-3">
       <article class="box">
         <figure class="animated fadeInDown" data-animation-type="fadeInDown" data-animation-duration="1" style="animation-duration: 1s; visibility: visible;">
           <a href="ajax/slideshow-popup.html" title="" class="hover-effect popup-gallery"><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/dest_pinar_s.jpg', size: "270x160", alt: "Varadero") %></a>
         </figure>
         <div class="details">
           <span class="price"><small>FROM</small>$490</span>
           <h4 class="box-title"><a href="hotel-detailed.html"><%= t(:destinopinardelrio) %><small><%= t(:destinopinardelrio) %></small></a></h4>
         </div>
       </article>
     </div>
   </div>
</div>