<section id="content">
  <div class="section container">
    <h1><%= image_tag('icon/tours_blue_32x32.png', class: 'mytrp_icon') %>Popular Tours </h1>

    <div class="row image-box style3 block">
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.8">
            <a href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/tour_havana_s.jpg', size: "270x160", alt: "Tour3") %></a>
          </figure>
          <div class="details">
            <h4 class="box-title"><%= t(:tour_havana_arts_title) %></h4>


            <div class="feedback">
              <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom">
                <span class="five-stars" style="width: 80%;"></span></div>
              <span class="review">270 reviews</span>
            </div>
            <div class="description_tour"><p><%= t(:tour_havana_arts_short_description) %></p></div>
            <a class="button" href="cruise-detailed.html"><%= t(:book_now) %></a>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0">
            <a href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/tour_private_s.jpg', size: "270x160", alt: "Tour1") %></a>
          </figure>
          <div class="details">
            <h4 class="box-title"><%= t(:tour_cuba_private_title) %></h4>


            <div class="feedback">
              <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom">
                <span class="five-stars" style="width: 80%;"></span></div>
              <span class="review">270 reviews</span>
            </div>
            <div class="description_tour"><p><%= t(:tour_cuba_private_short_description) %></p></div>
            <a class="button" href="cruise-detailed.html"><%= t(:book_now) %></a>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.8">
            <a href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/tour_profesional_s.jpg', size: "270x160", alt: "Tour3") %></a>
          </figure>
          <div class="details">
            <h4 class="box-title"><%= t(:tour_professional_title) %></h4>


            <div class="feedback">
              <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom">
                <span class="five-stars" style="width: 80%;"></span></div>
              <span class="review">270 reviews</span>
            </div>
            <div class="description_tour"><p><%= t(:tour_professional_short_description) %></p></div>
            <a class="button" href="cruise-detailed.html"><%= t(:book_now) %></a>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.4">
            <a href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/tour_discover_s.jpg', size: "270x160", alt: "Tour2") %></a>
          </figure>
          <div class="details">
            <h4 class="box-title"><%= t(:tour_discover_cuba_title) %></h4>


            <div class="feedback">
              <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom">
                <span class="five-stars" style="width: 80%;"></span></div>
              <span class="review">270 reviews</span>
            </div>
            <div class="description_tour"><p><%= t(:tour_discover_cuba_short_description) %></p></div>
            <a class="button" href="cruise-detailed.html"><%= t(:book_now) %></a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>