<section id="content">
  <div class="section container">
    <h2><%= image_tag('icon/hotel_blue_32x32.png', class: 'mytrp_icon') %><%= t(:popular_hotels) %>  </h2>
    <div class="row image-box hotel listing-style1">
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0">
            <a class="hover-effect popup-gallery" href="ajax/slideshow-popup.html" title=""><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/hotel_marques_s.jpg', size: "270x160", alt: "Hotel Marques de San Felipe y Bejucal") %></a>
          </figure>
          <div class="details">
                        <span class="price">
                            <small>avg/night</small>
                            $360
                        </span>
            <h4 class="box-title">Hotel Marques de San
              <small>Paris france</small>
            </h4>
            <div class="feedback">
              <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom">
                <span class="five-stars" style="width: 80%;"></span></div>
              <span class="review">270 reviews</span>
            </div>
            <p class="description">Uno de los últimos hoteles inaugurados en la Habana Vieja y el primero en la Plaza
              San Francisco de Asís...</p>

            <div class="action">
              <a href="hotel-detailed.html" class="button btn-small"><%= t(:select) %></a>
              <a href="#" class="button yellow-button" data-box="48.856614, 2.352222"><%= t(:view_on_map) %></a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.6">
            <a class="hover-effect popup-gallery" href="ajax/slideshow-popup.html" title=""><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/hotel_palacio_de_ofarril_s.jpg', size: "270x160", alt: "Hotel Palacio de Ofarrill") %></a>
          </figure>
          <div class="details">
            <span class="price"><small>avg/night</small>$188</span>
            <h4 class="box-title">Hotel Palacio de Ofarrill
              <small>Albufeira</small>
            </h4>
            <div class="feedback">
              <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom">
                <span class="five-stars" style="width: 80%;"></span></div>
              <span class="review">170 reviews</span>
            </div>
            <p class="description">El inmueble donde se encuentra hoy el Hotel de Palacio de O’Farrill fue la residencia de Don Ricardo O’Farrill y O’Daly...</p>

            <div class="action">
              <a href="hotel-detailed.html" class="button btn-small"><%= t(:select) %></a>
              <a href="#" class="button btn-small yellow popup-map" data-box="37.089072, -8.247880"><%= t(:view_on_map) %></a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.9">
            <a class="hover-effect popup-gallery" href="ajax/slideshow-popup.html" title=""><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/hotel_saratoga_s.jpg', size: "270x160", alt: "Hotel Saratoga") %></a>
          </figure>
          <div class="details">
            <span class="price"><small>avg/night</small>$322</span>
            <h4 class="box-title">Hotel Saratoga
              <small>spain</small>
            </h4>
            <div class="feedback">
              <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom">
                <span class="five-stars" style="width: 80%;"></span></div>
              <span class="review">485 reviews</span>
            </div>
            <p class="description">Es uno de los hoteles más lujosos y caros de La Habana, en la remodelación del
              inmueble fue respetado cada detalle...</p>

            <div class="action">
              <a href="hotel-detailed.html" class="button btn-small"><%= t(:select) %></a>
              <a href="#" class="button btn-small yellow popup-map" data-box="40.463667, -3.749220"><%= t(:view_on_map) %></a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="1.2">
            <a class="hover-effect popup-gallery" href="ajax/slideshow-popup.html" title=""><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/hotel_telegrafo_s.jpg', size: "270x160", alt: "Hotel Telegrafo") %></a>
          </figure>
          <div class="details">
            <span class="price"><small>avg/night</small>$170</span>
            <h4 class="box-title">Hotel Telegrafo
              <small>New york</small>
            </h4>
            <div class="feedback">
              <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom">
                <span class="five-stars" style="width: 80%;"></span></div>
              <span class="review">75 reviews</span>
            </div>
            <p class="description">Famosas esquinas de La Habana: Prado y Neptuno, famosa por
              haber sido instalado en ella el primer semáforo...</p>

            <div class="action">
              <a href="hotel-detailed.html" class="button btn-small"><%= t(:select) %></a>
              <a href="#" class="button btn-small yellow popup-map" data-box="40.705631, -73.978003"><%= t(:view_on_map) %></a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>