<section id="content">
  <div class="section container">
    <h1 class="CheapFlightTitle"><%= image_tag('icon/flight_blue_32x32.png', class: 'mytrp_icon') %>Cheap Flights & Air
      Tickets </h1>

    <div class="image-carousel style2 block" data-animation="slide" data-item-width="270" data-item-margin="30">

      <div class="flex-viewport" style="overflow: hidden; position: relative;">
        <ul class="slides image-box listing-style2 flight">
          <li class="flightbox">
            <article class="box">
              <figure>
                <span><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/ex_f1.png', size: "270x160", draggable: false) %></span>
              </figure>
              <div class="details">
                <div class="row">
                  <div class="col-sm-8"><h4 class="box-title">La Habana</h4></div>
                  <div class="col-sm-4">
                    <span class="price">$620</span>
                  </div>
                </div>
                <div class="row flight_details">
                  <div class="col-sm-5  ">  <div class="row from">From</div>
                    <div class="row destiny">La Habana</div></div>
                  <div><div class="flightdesticon"><%= image_tag('icon/flight_hz_gray_24x24.png') %></div></div>
                  <div class="col-sm-5  ">  <div class="row from">To</div>
                    <div class="row destiny">Varadero</div></div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <a title="View all" href="flight-detailed.html" class="full-width button">select</a>
                  </div>
                </div>
              </div>
            </article>
          </li>
          <li class="flightbox">
            <article class="box">
              <figure>
                <span><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/ex_f1.png', size: "270x160", draggable: false) %></span>
              </figure>
              <div class="details">
                <div class="row">
                  <div class="col-sm-8"><h4 class="box-title">La Habana</h4></div>
                  <div class="col-sm-4">
                    <span class="price">$620</span>
                  </div>
                </div>
                <div class="row flight_details">
                  <div class="col-sm-5  ">  <div class="row from">From</div>
                    <div class="row destiny">La Habana</div></div>
                  <div><div class="flightdesticon"><%= image_tag('icon/flight_hz_gray_24x24.png') %></div></div>
                  <div class="col-sm-5  ">  <div class="row from">To</div>
                    <div class="row destiny">Varadero</div></div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <a title="View all" href="flight-detailed.html" class="full-width button">select</a>
                  </div>
                </div>
              </div>
            </article>
          </li>
          <li class="flightbox">
            <article class="box">
              <figure>
                <span><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/ex_f1.png', size: "270x160", draggable: false) %></span>
              </figure>
              <div class="details">
                <div class="row">
                  <div class="col-sm-8"><h4 class="box-title">La Habana</h4></div>
                  <div class="col-sm-4">
                    <span class="price">$620</span>
                  </div>
                </div>
                <div class="row flight_details">
                  <div class="col-sm-5  ">  <div class="row from">From</div>
                    <div class="row destiny">La Habana</div></div>
                  <div><div class="flightdesticon"><%= image_tag('icon/flight_hz_gray_24x24.png') %></div></div>
                  <div class="col-sm-5  ">  <div class="row from">To</div>
                    <div class="row destiny">Varadero</div></div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <a title="View all" href="flight-detailed.html" class="full-width button">select</a>
                  </div>
                </div>
              </div>
            </article>
          </li>
          <li class="flightbox">
            <article class="box">
              <figure>
                <span><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/ex_f1.png', size: "270x160", draggable: false) %></span>
              </figure>
              <div class="details">
                <div class="row">
                  <div class="col-sm-8"><h4 class="box-title">La Habana</h4></div>
                  <div class="col-sm-4">
                    <span class="price">$620</span>
                  </div>
                </div>
                <div class="row flight_details">
                  <div class="col-sm-5  ">  <div class="row from">From</div>
                    <div class="row destiny">La Habana</div></div>
                  <div><div class="flightdesticon"><%= image_tag('icon/flight_hz_gray_24x24.png') %></div></div>
                  <div class="col-sm-5  ">  <div class="row from">To</div>
                    <div class="row destiny">Varadero</div></div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <a title="View all" href="flight-detailed.html" class="full-width button">select</a>
                  </div>
                </div>
              </div>
            </article>
          </li>
          <li class="flightbox">
            <article class="box">
              <figure>
                <span><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/ex_f1.png', size: "270x160", draggable: false) %></span>
              </figure>
              <div class="details">
                <div class="row">
                  <div class="col-sm-8"><h4 class="box-title">La Habana</h4></div>
                  <div class="col-sm-4">
                    <span class="price">$620</span>
                  </div>
                </div>
                <div class="row flight_details">
                  <div class="col-sm-5  ">  <div class="row from">From</div>
                    <div class="row destiny">La Habana</div></div>
                  <div><div class="flightdesticon"><%= image_tag('icon/flight_hz_gray_24x24.png') %></div></div>
                  <div class="col-sm-5  ">  <div class="row from">To</div>
                    <div class="row destiny">Varadero</div></div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <a title="View all" href="flight-detailed.html" class="full-width button">select</a>
                  </div>
                </div>
              </div>
            </article>
          </li>
          <li class="flightbox">
            <article class="box">
              <figure>
                <span><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/ex_f1.png', size: "270x160", draggable: false) %></span>
              </figure>
              <div class="details">
                <div class="row">
                  <div class="col-sm-8"><h4 class="box-title">La Habana</h4></div>
                  <div class="col-sm-4">
                    <span class="price">$620</span>
                  </div>
                </div>
                <div class="row flight_details">
                  <div class="col-sm-5  ">  <div class="row from">From</div>
                    <div class="row destiny">La Habana</div></div>
                  <div><div class="flightdesticon"><%= image_tag('icon/flight_hz_gray_24x24.png') %></div></div>
                  <div class="col-sm-5  ">  <div class="row from">To</div>
                    <div class="row destiny">Varadero</div></div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <a title="View all" href="flight-detailed.html" class="full-width button">select</a>
                  </div>
                </div>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <ol class="flex-control-nav flex-control-paging">
        <li><a class="flex-active">1</a></li>
        <li><a class="">2</a></li>
      </ol>
      <ul class="flex-direction-nav">
        <li><a class="flex-prev" href="#">Previous</a></li>
        <li><a class="flex-next" href="#">Next</a></li>
      </ul>
    </div>
  </div>
</section>