<div id="slideshow">
  <div class="fullwidthbanner-container">
    <div class="revolution-slider" style="height: 0; overflow: hidden;">
      <ul> <!-- SLIDE  -->
        <!-- Slide1 -->

        <li data-transition="zoomin" data-slotamount="7" data-masterspeed="1500">
          <!-- MAIN IMAGE -->
          <%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/slider-flight-background.jpg') %>
          <!-- LAYERS -->
          <!-- LAYER NR. 1   CUBA-->
          <div class="tp-caption tp-fade fadeout"
               data-x="center" data-hoffset="-451"
               data-y="center" data-voffset="-53"
               data-speed="300" data-endspeed="0"
               data-start="800"
               data-easing="Expo.easeInOut"
               style="z-index: 3;">
            <a href="dfsfs" ><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/slider-flight-text1.png') %></a>
          </div>
          <!-- LAYER NR. 2   PLAIN-->
          <div class="tp-caption tp-fade fadeout"
               data-x="center" data-hoffset="440"
               data-y="center" data-voffset="-100"
               data-speed="300" data-endspeed="300"
               data-start="800"
               data-easing="Expo.easeInOut"
               style="z-index: 2;">
            <a href="dfsfs" ><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/slider-flight.png') %></a>
          </div>
          <!-- LAYER NR. 3   Texto 1-->
          <div class="tp-caption tp-fade fadeout"
               data-x="center" data-hoffset="-156"
               data-y="center" data-voffset="104"
               data-speed="300" data-endspeed="300"
               data-start="800"
               data-easing="Expo.easeInOut"
               style="z-index: 2;">
            <a href="dfsfs" ><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/slider-flight-text-2-en.png') %></a>
          </div>
          <!-- LAYER NR. 4   BOOK BUTTON-->
          <div class="tp-caption tp-fade fadeout"
               data-x="center" data-hoffset="-428"
               data-y="center" data-voffset="215"
               data-speed="300" data-endspeed="300"
               data-start="800"
               data-easing="Expo.easeInOut"
               style="z-index: 2;">
            <a href="dfsfs" ><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/book_flight_en.jpg') %></a>
          </div>

        </li>
      </ul>
    </div>
  </div>
</div>
<script>
    tjq(document).ready(function () {
        tjq('.revolution-slider').revolution(
                {
                    dottedOverlay: "none",
                    delay: 9000,
                    startwidth: 1170,
                    startheight: 646,
                    onHoverStop: "on",
                    hideThumbs: 10,
                    fullWidth: "on",
                    forceFullWidth: "on",
                    navigationType: "none",
                    shadow: 0,
                    spinner: "spinner4",
                    hideTimerBar: "on",
                });
    });
</script>