<div class="row flight-list image-box flight listing-style1">
  <% if @flights.any? %>
      <% @flights.each do |f| %>
          <div class="col-sm-6 col-lg-4">
            <article class="box">
              <figure>
                <span><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/f'+rand(1...5).to_s+'.png') %></span>
              </figure>
              <div class="details">
                <span class="price"><small>avg/person</small><%= f.total_price %></span>
                <h4 class="box-title"><%= f.name %>
                  <small><%= f.flight_way %></small>
                </h4>
                <div class="time">
                  <div class="take-off">
                    <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                    <div>
                      <span class="skin-color">Take off</span><br/><%= f.takeOff %>
                    </div>
                  </div>
                  <div class="landing">
                    <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                    <div>
                      <span class="skin-color">landing</span><br/><%= f.landing %>
                    </div>
                  </div>
                </div>
                <p class="duration">
                  <span class="skin-color">Total Time</span></br><%= f.duration_long_style %>
                </p>

                <div class="action">
                  <a class="button btn-small full-width" href="flight-detailed.html">SELECT NOW</a>
                </div>
              </div>
            </article>
          </div>
      <% end %>
  <% end %>
</div>
