<div class="flight-list listing-style3 flight">
  <% if @flights.any? %>
      <% @flights.each do |f| %>
          <article class="box">
            <figure class="col-xs-3 col-sm-2">
              <span><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/ex_f'+rand(1...5).to_s+'.png') %></span>
            </figure>
            <div class="details col-xs-9 col-sm-10">
              <div class="details-wrapper">
                <div class="first-row">
                  <div>
                    <h4 class="box-title"><%= f.name.gsub('(CHOICE AIRE)', ' ') %> - <%= f.take_off %> / <%= f.landing %>
                    </h4>
                    <div class='clearfix'><h5><%= f.flight_type || 'ONEWAY FLIGHT' %></h5></div>
                    <a><strong><%= f.stops %></strong></a>

                    <div class="amenities">
                      <% f.list_of_features_flight.each do |key, value| %>
                          <i class="<%= value %> circle"></i>
                      <% end %>
                    </div>
                  </div>
                  <div>
                    <span class="price"><small>AVG/PERSON</small><%= f.prices[:spree_travel] %></span>
                  </div>
                </div>
                <div class="second-row">
                  <div class="time">
                    <div class="take-off col-sm-4">
                      <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                      <div>
                        <span class="skin-color">Take off</span><br/>WED NOV 13, 2015 7:50 AM
                      </div>
                    </div>
                    <div class="landing col-sm-4">
                      <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                      <div>
                        <span class="skin-color">landing</span><br/>WED NOV 13, 2015 9:20 AM
                      </div>
                    </div>
                    <div class="total-time col-sm-4">
                      <div class="icon"><i class="soap-icon-clock yellow-color"></i></div>
                      <div>
                        <span class="skin-color">total time</span><br/>2 HOUR, 30 MINUTES
                      </div>
                    </div>
                  </div>
                  <div class="action">
                    <a href="flight-detailed.html" class="button btn-small full-width">SELECT NOW</a>
                  </div>
                </div>
              </div>
            </div>
          </article>
      <% end %>
  <% end %>
</div>
