<div class="flight-list listing-style3 flight">
  <% if @flights.any? %>
      <% @flights.each do |f| %>
          <article class="box">
            <figure class="col-xs-3 col-sm-2">
              <span><img alt="" src="http://placehold.it/270x160"></span>
            </figure>
            <div class="details col-xs-9 col-sm-10">
              <div class="details-wrapper">
                <div class="first-row">
                  <div>
                    <h4 class="box-title"><%= f.name %>
                      <small><%= f.flightType %></small>
                    </h4>
                    <a><strong><%= f.stops %></strong></a>

                    <div class="amenities">
                      <% f.list_of_features_flight.each do |key, value| %>
                          <i class="<%= value %> circle"></i>
                      <% end %>
                    </div>
                  </div>
                  <div>
                    <span class="price"><small>AVG/PERSON</small><%= f.total_price %></span>
                  </div>
                </div>
                <div class="second-row">
                  <div class="time">
                    <div class="take-off col-sm-4">
                      <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                      <div>
                        <span class="skin-color">Take off</span><br/><%= f.takeOff %>
                      </div>
                    </div>
                    <div class="landing col-sm-4">
                      <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                      <div>
                        <span class="skin-color">landing</span><br/><%= f.landing %>
                      </div>
                    </div>
                    <div class="total-time col-sm-4">
                      <div class="icon"><i class="soap-icon-clock yellow-color"></i></div>
                      <div>
                        <span class="skin-color">total time</span><br/><%= f.duration_long_style %>
                      </div>
                    </div>
                  </div>
                  <div class="action">
                    <a href="flight-detailed.html" class="button btn-small full-width">SELECT NOW</a>
                  </div>
                </div>
              </div>
            </div>
          </article>
      <% end %>
  <% end %>
</div>
