<section id="content" class="gray-area">
  <div class="container">
    <div class="row">
      <div id="main" class="col-sms-6 col-sm-8 col-md-9">
        <div class="booking-section travelo-box">

          <form class="booking-form">
            <%= render partial: 'spree/shared/booking_information' %>
            <%= render partial: 'spree/shared/booking_confirmation' %>
          </form>
        </div>
      </div>
      <div class="sidebar col-sms-6 col-sm-4 col-md-3">
        <% if @flights.any? %>
            <div class="booking-details travelo-box">

              <h4>Booking Details</h4>
              <% f= @flights.first %>
              <article class="flight-booking-details">
                <figure class="clearfix">
                  <a title="" href="flight-detailed.html" class="middle-block"><img class="middle-item" alt="" src="http://placehold.it/75x75"></a>

                  <div class="travel-title">
                    <h5 class="box-title"><%= f.name %>
                      <small><%= f.flight_way %></small>
                    </h5>
                    <a href="flight-detailed.html" class="button">EDIT</a>
                  </div>
                </figure>
                <div class="details">
                  <div class="constant-column-3 timing clearfix">
                    <div class="check-in">
                      <label>Take off</label>
                      <span><%= f.takeOff %></span>
                    </div>
                    <div class="duration text-center">
                      <i class="soap-icon-clock"></i>
                      <span><%= f.duration %></span>
                    </div>
                    <div class="check-out">
                      <label>landing</label>
                      <span><%= f.landing %></span>
                    </div>
                  </div>
                </div>
              </article>

              <h4>Other Details</h4>
              <dl class="other-details">
                <dt class="feature">Airline:</dt>
                <dd class="value"><%= f.airline %></dd>
                <dt class="feature">Flight type:</dt>
                <dd class="value"><%= f.flight_type %></dd>
                <dt class="feature">base fare:</dt>
                <dd class="value"><%= f.base_fare %></dd>
                <dt class="feature">taxes and fees:</dt>
                <dd class="value"><%= f.taxes_fees %></dd>
                <dt class="total-price">Total Price</dt>
                <dd class="total-price-value"><%= f.total_price %></dd>
              </dl>


            </div>
        <% end %>
        <%= render partial: 'spree/shared/help' %>
      </div>
    </div>
  </div>
</section>