<section id="content">
<% if @flights.any? %>
    <div class="container flight-detail-page">
    <% @flights.each do |f|%>
        <div class="row">
            <div id="main" class="col-md-9">
                <div class="tab-container style1 box" id="flight-main-content">
                    <ul class="tabs">
                        <li class="active"><a data-toggle="tab" href="#photo-tab">photo</a></li>
                        <li><a data-toggle="tab" href="#calendar-tab">calendar</a></li>
                        <li class="pull-right"><a class="button btn-small yellow-bg white-color" href="#">BEFORE YOU FLY</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="photo-tab" class="tab-pane fade in active">
                            <div class="featured-image image-container">
                                <img src="http://placehold.it/870x530" alt="">
                            </div>
                        </div>
                        <div id="calendar-tab" class="tab-pane fade">
                            <label>SELECT MONTH</label>
                            <div class="col-sm-6 col-md-4 no-float no-padding">
                                <div class="selector">
                                    <%= select_month(Time.now) %>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="calendar"></div>
                                    <div class="calendar-legend">
                                        <label class="available">available</label>
                                        <label class="unavailable">unavailable</label>
                                        <label class="past">past</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <p class="description"><%= f.calendar_description%> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="flight-features" class="tab-container">
                    <ul class="tabs">
                        <li class="active"><a href="#flight-details" data-toggle="tab">Flight Details</a></li>
                        <li><a href="#inflight-features" data-toggle="tab">Inflight Features</a></li>
                        <li><a href="#flgiht-seat-selection" data-toggle="tab">Seat Selection</a></li>
                        <li><a href="#flight-baggage" data-toggle="tab">Baggage</a></li>
                        <li><a href="#flight-fare-rules" data-toggle="tab">Fare Rules</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="flight-details">
                            <div class="intro table-wrapper full-width hidden-table-sm box">
                                <div class="col-md-4 table-cell travelo-box">
                                    <dl class="term-description">
                                        <dt>Airline:</dt><dd><%= f.airline%></dd>
                                        <dt>Flight Type:</dt><dd><%= f.flight_type%></dd>
                                        <dt>Fare type:</dt><dd><%= f.airline%></dd>
                                        <dt>Cancellation:</dt><dd><%= f.cancellation%></dd>
                                        <dt>Flight CHange:</dt><dd><%= f.flight_change%></dd>
                                        <dt>Seats &amp; Baggage:</dt><dd><%= f.seat_baggage%></dd>
                                        <dt>Inflight Features:</dt><dd><%= f.inflight_features%></dd>
                                        <dt>Base fare:</dt><dd><%= f.base_fare%></dd>
                                        <dt>Taxes &amp; Fees:</dt><dd><%= f.taxes_fees%></dd>
                                        <dt>total price:</dt><dd><%= f.total_price%></dd>
                                    </dl>
                                </div>
                                <div class="col-md-8 table-cell">
                                    <div class="detailed-features booking-details">
                                        <div class="travelo-box">
                                            <a href="#" class="button btn-mini yellow pull-right">1 STOP</a>
                                            <h4 class="box-title"><%= f.name%><small><%= f.flight_way%></small></h4>
                                        </div>
                                        <div class="table-wrapper flights">
                                            <div class="table-row first-flight">
                                                <div class="table-cell logo">
                                                    <img src="http://placehold.it/140x30" alt="">
                                                    <label><%= f.identifier%></label>
                                                </div>
                                                <div class="table-cell timing-detail">
                                                    <div class="timing">
                                                        <div class="check-in">
                                                            <label>Take off</label>
                                                            <span><%= f.takeOff%></span>
                                                        </div>
                                                        <div class="duration text-center">
                                                            <i class="soap-icon-clock"></i>
                                                            <span><%= f.duration%></span>
                                                        </div>
                                                        <div class="check-out">
                                                            <label>landing</label>
                                                            <span><%= f.landing%></span>
                                                        </div>
                                                    </div>
                                                    <label class="layover">Layover : <%= f.lay_over%></label>
                                                </div>
                                            </div>
                                            <div class="table-row second-flight">
                                                <div class="table-cell logo">
                                                    <img src="http://placehold.it/140x30" alt="">
                                                    <label><%= f.identifier%></label>
                                                </div>
                                                <div class="table-cell timing-detail">
                                                    <div class="timing">
                                                        <div class="check-in">
                                                            <label>Take off</label>
                                                            <span><%= f.takeOff%></span>
                                                        </div>
                                                        <div class="duration text-center">
                                                            <i class="soap-icon-clock"></i>
                                                            <span><%= f.duration%></span>
                                                        </div>
                                                        <div class="check-out">
                                                            <label>landing</label>
                                                            <span><%= f.duration%></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="long-description">
                                <h2>About <%= f.airline%></h2>
                                <p><%= f.airline_description%></p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="inflight-features">
                            <h2>Features <%= f.identifier%></h2>
                            <p>Maecenas vitae turpis condimentum metus tincidunt semper bibendum ut orci. Donec eget accumsan est. Duis laoreet sagittis elit et vehicula. Cras viverra posuere condimentum. Donec urna arcu, venenatis quis augue sit amet, mattis gravida nunc. Integer faucibus, tortor a tristique adipiscing, arcu metus luctus libero, nec vulputate risus elit id nibh.</p>
                            <ul class="amenities clearfix style1 box">
                              <% f.list_of_features_flight.each do |key, value|%>
                              <li class="col-md-4 col-sm-6">
                                    <div class="icon-box style1"><i class="<%= value %>"></i><%= key %></div>
                                </li>
                              <% end %>
                            </ul>

                        </div>
                        <div class="tab-pane fade" id="flgiht-seat-selection">
                            <h2>Select your Seats</h2>
                            <p>Would you like a window seat or treat yourself to more comfort? Select your seats online in advance with our easy-to-use seat map.  You can choose and change your seat until 48 hours before departure, when booking on Travelo.com. Also you can choose and change your seats at a self-service machine at the airport.</p>
                            <hr>
                            <div class="image-box style12">
                                <article class="box">
                                    <figure>
                                        <img src="http://placehold.it/120x100" alt="" class="middle-item" />
                                    </figure>
                                    <div class="details">
                                        <h4 class="box-title">Standard advance seat selection</h4>
                                        <p>Sed aliquam nunc eget velit imperdiet, in rutrum mauris malesuada. Quisque ullamcor  vulputate nisi, et fringilla ante convallis quis. </p>
                                    </div>
                                    <div class="action">
                                        <span class="price"><small>starting at</small>$18</span>
                                        <a href="flight-booking.html" class="button btn-small">SELECT NOW</a>
                                    </div>
                                </article>
                                <hr>
                                <article class="box">
                                    <figure>
                                        <img src="http://placehold.it/120x100" alt="" class="middle-item" />
                                    </figure>
                                    <div class="details">
                                        <h4 class="box-title">Standard advance seat selection</h4>
                                        <p>Sed aliquam nunc eget velit imperdiet, in rutrum mauris malesuada. Quisque ullamcor  vulputate nisi, et fringilla ante convallis quis. </p>
                                    </div>
                                    <div class="action">
                                        <span class="price"><small>starting at</small>$18</span>
                                        <a href="flight-booking.html" class="button btn-small">SELECT NOW</a>
                                    </div>
                                </article>
                                <hr>
                                <article class="box">
                                    <figure>
                                        <img src="http://placehold.it/120x100" alt="" class="middle-item" />
                                    </figure>
                                    <div class="details">
                                        <h4 class="box-title">Standard advance seat selection</h4>
                                        <p>Sed aliquam nunc eget velit imperdiet, in rutrum mauris malesuada. Quisque ullamcor  vulputate nisi, et fringilla ante convallis quis. </p>
                                    </div>
                                    <div class="action">
                                        <span class="price"><small>starting at</small>$18</span>
                                        <a href="flight-booking.html" class="button btn-small">SELECT NOW</a>
                                    </div>
                                </article>
                                <hr>
                                <article class="box">
                                    <figure>
                                        <img src="http://placehold.it/120x100" alt="" class="middle-item" />
                                    </figure>
                                    <div class="details">
                                        <h4 class="box-title">Standard advance seat selection</h4>
                                        <p>Sed aliquam nunc eget velit imperdiet, in rutrum mauris malesuada. Quisque ullamcor  vulputate nisi, et fringilla ante convallis quis. </p>
                                    </div>
                                    <div class="action">
                                        <span class="price"><small>starting at</small>$18</span>
                                        <a href="flight-booking.html" class="button btn-small">SELECT NOW</a>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="flight-baggage">
                            <div class="travelo-box border-box box clearfix">
                                <form>
                                    <div class="col-xs-6 col-md-4">
                                        <div class="form-group">
                                            <h5 class="title">From</h5>
                                            <input type="text" class="input-text full-width" placeholder="city, airport or country name">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-4">
                                        <div class="form-group">
                                            <h5 class="title">To</h5>
                                            <input type="text" class="input-text full-width" placeholder="city, airport or country name">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-4">
                                        <div class="form-group">
                                            <h5 class="title">Top Tier Status</h5>
                                            <div class="selector full-width">
                                                <select>
                                                    <option value="">super elite 100K</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-4">
                                        <div class="form-group">
                                            <h5 class="title">Bag weight</h5>
                                            <div class="selector full-width">
                                                <select>
                                                    <option value="">20kgs (44lbs)</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-4">
                                        <div class="form-group">
                                            <h5 class="title">Class of service</h5>
                                            <input type="text" class="input-text full-width" placeholder="economy class">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-4">
                                        <div class="form-group">
                                            <h5 class="title">&nbsp;</h5>
                                            <button class="full-width icon-check uppercase">View baggage allowance</button>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">Infant/child (0 to 11 years) occupying a seat (with own ticket)
                                            </label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <h2>Baggage</h2>
                            <p>In this section you'll find information on baggage allowances, special equipment and sports items as well as restricted items. We've also included some tips to make your trip more enjoyable.</p>
                            <div class="baggage column-5">
                                <div class="icon-box style9">
                                    <i class="soap-icon-carryon"></i>
                                    <h5 class="box-title">Carry-on<br>Allowance</h5>
                                </div>
                                <div class="icon-box style9">
                                    <i class="soap-icon-baggage"></i>
                                    <h5 class="box-title">Baggage<br>Allowance</h5>
                                </div>
                                <div class="icon-box style9">
                                    <i class="soap-icon-delayed-baggage"></i>
                                    <h5 class="box-title">Delayed<br>Baggage</h5>
                                </div>
                                <div class="icon-box style9">
                                    <i class="soap-icon-damaged-baggage"></i>
                                    <h5 class="box-title">Damaged<br>Baggage</h5>
                                </div>
                                <div class="icon-box style9">
                                    <i class="soap-icon-baggage-status"></i>
                                    <h5 class="box-title">Baggage<br>Status</h5>
                                </div>
                                <div class="icon-box style9">
                                    <i class="soap-icon-phone"></i>
                                    <h5 class="box-title">Baggage<br>Services</h5>
                                </div>
                                <div class="icon-box style9">
                                    <i class="soap-icon-status"></i>
                                    <h5 class="box-title">Baggage<br>Tips</h5>
                                </div>
                                <div class="icon-box style9">
                                    <i class="soap-icon-restricted"></i>
                                    <h5 class="box-title">Restricted<br>Items</h5>
                                </div>
                                <div class="icon-box style9">
                                    <i class="soap-icon-liability"></i>
                                    <h5 class="box-title">Liability<br>Limitations</h5>
                                </div>
                                <div class="icon-box style9">
                                    <i class="soap-icon-lost-found"></i>
                                    <h5 class="box-title">Lost and<br>Found</h5>
                                </div>
                            </div>

                            <hr>
                            <h2>Basic Information</h2>
                            <p>Sed aliquam nunc eget velit imperdiet, in rutrum mauris malesuada. Quisque ullamcorper vulputate nisi, et fringilla ante convallis quis. Nullam vel tellus non elit suscipit volutpat. Integer id felis et nibh rutrum dignissim ut non risus. In tincidunt urna quis sem luctus, sed accumsan magna pellentesque. Donec et iaculis tellus. Vestibulum ut iaculis justo, auctor sodales lectus. Donec et tellus tempus, dignissim maurornare, consequat lacus. Integer dui neque, scelerisque nec sollicitudin sit amet, sodales a erat. Duis vitae condimentum ligula. Integer eu mi nisl. Donec massa dui, commodo id arcu quis, venenatis scelerisque velit.</p>
                        </div>
                        <div class="tab-pane fade" id="flight-fare-rules">
                            <h2>Fare Rules for your Flight</h2>
                            <div class="topics">
                                <ul class="check-square clearfix">
                                    <li class="col-sm-6 col-md-4"><a href="#">Rules and Policies</a></li>
                                    <li class="col-sm-6 col-md-4"><a href="#">Flight Changes</a></li>
                                    <li class="col-sm-6 col-md-4"><a href="#">refunds</a></li>
                                    <li class="col-sm-6 col-md-4"><a href="#">Airline Penalties</a></li>
                                    <li class="col-sm-6 col-md-4 active"><a href="#">Flight Cancellation</a></li>
                                    <li class="col-sm-6 col-md-4"><a href="#">Airline terms of use</a></li>
                                </ul>
                            </div>
                            <p>Maecenas vitae turpis condimentum metus tincidunt semper bibendum ut orci. Donec eget accumsan est. Duis laoreet sagittis elit et vehicula. Cras viverra posuere condimentum. Donec urna arcu, venenatis quis augue sit amet, mattis gravida nunc. Integer faucibus, tortor a tristique adipiscing, arcu metus luctus libero, nec vulputate risus elit id nibh.</p>
                            <div class="toggle-container">
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a class="collapsed" href="#question1" data-toggle="collapse">Flight cancellation charges</a>
                                    </h4>
                                    <div class="panel-collapse collapse" id="question1">
                                        <div class="panel-content">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a class="collapsed" href="#question2" data-toggle="collapse">WAmendment in higher class charges</a>
                                    </h4>
                                    <div class="panel-collapse collapse" id="question2">
                                        <div class="panel-content">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a class="" href="#question3" data-toggle="collapse">Amendment in same class charges</a>
                                    </h4>
                                    <div class="panel-collapse collapse in" id="question3">
                                        <div class="panel-content">
                                            <p>Sed a justo enim. Vivamus volutpat ipsum ultrices augue porta lacinia. Proin in elementum enim. <span class="skin-color">Duis suscipit justo</span> non purus consequat molestie. Etiam pharetra ipsum sagittis sollicitudin ultricies. Praesent luctus, diam ut tempus aliquam, diam ante euismod risus, euismod viverra quam quam eget turpis. Nam <span class="skin-color">tristique congue</span> arcu, id bibendum diam. Ut hendrerit, leo a pellentesque porttitor, purus arcu tristique erat, in faucibus elit leo in turpis vitae luctus enim, a mollis nulla.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a class="collapsed" href="#question4" data-toggle="collapse">Rebooking/cancellation charges</a>
                                    </h4>
                                    <div class="panel-collapse collapse" id="question4">
                                        <div class="panel-content">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a class="collapsed" href="#question5" data-toggle="collapse">Canellation through the customer support</a>
                                    </h4>
                                    <div class="panel-collapse collapse" id="question5">
                                        <div class="panel-content">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a class="collapsed" href="#question6" data-toggle="collapse">Do we accept cancellations through email?</a>
                                    </h4>
                                    <div class="panel-collapse collapse" id="question6">
                                        <div class="panel-content">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a class="collapsed" href="#question7" data-toggle="collapse">What is the minimum day limit of cancellation?</a>
                                    </h4>
                                    <div class="panel-collapse collapse" id="question7">
                                        <div class="panel-content">
                                            
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar col-md-3">
                <article class="detailed-logo">
                    <figure>
                        <img src="http://placehold.it/270x160" alt="">
                    </figure>
                    <div class="details">
                        <h2 class="box-title"><%= f.name%><small><%= f.flight_way%></small></h2>
                        <span class="price clearfix">
                            <small class="pull-left">avg/person</small>
                            <span class="pull-right"><%= f.price%></span>
                        </span>
                        
                        <div class="duration">
                            <i class="soap-icon-clock"></i>
                            <dl>
                                <dt class="skin-color">Total Time:</dt>
                                <dd><%= f.duration_long_style%></dd>
                            </dl>
                        </div>
                        
                        <p class="description"><%= f.short_description%></p>
                        <a href="flight-booking.html" class="button green full-width uppercase btn-medium">book flight now</a>
                    </div>
                </article>
                <div class="travelo-box contact-box">
                    <h4>Need Travelo Help?</h4>
                    <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                    <address class="contact-details">
                        <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
                        <br>
                        <a class="contact-email" href="#">help@travelo.com</a>
                    </address>
                </div>
                <div class="travelo-box book-with-us-box">
                    <h4>Why Book with us?</h4>
                    <ul>
                        <li>
                            <i class="soap-icon-hotel-1 circle"></i>
                            <h5 class="title"><a href="#">135,00+ Hotels</a></h5>
                            <p>Nunc cursus libero pur congue arut nimspnty.</p>
                        </li>
                        <li>
                            <i class="soap-icon-savings circle"></i>
                            <h5 class="title"><a href="#">Low Rates &amp; Savings</a></h5>
                            <p>Nunc cursus libero pur congue arut nimspnty.</p>
                        </li>
                        <li>
                            <i class="soap-icon-support circle"></i>
                            <h5 class="title"><a href="#">Excellent Support</a></h5>
                            <p>Nunc cursus libero pur congue arut nimspnty.</p>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    <% end%>
    </div>
<% end%>
</section>