<div id="slideshow">
  <div class="fullwidthbanner-container">
    <div class="revolution-slider" style="height: 0; overflow: hidden;">
      <ul>
        <li data-transition="zoomin" data-slotamount="7" data-masterspeed="1500">
          <img src="https://s3-us-west-2.amazonaws.com/webtriptocuba/banner1.jpg" alt="">
        </li>
        <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500">
          <img src="https://s3-us-west-2.amazonaws.com/webtriptocuba/banner2.jpg" alt="">
        </li>
        <li data-transition="slidedown" data-slotamount="7" data-masterspeed="1500">
          <img src="https://s3-us-west-2.amazonaws.com/webtriptocuba/banner3.jpg" alt="">
        </li>
      </ul>
    </div>
  </div>
</div>
<section id="content">
  <div class="search-box-wrapper">
    <div class="search-box container">
      <ul class="search-tabs clearfix">
        <li class="active"><a id="flights" href="#flights-tab" data-toggle="tab"><%= t(:flights) %></a></li>
        <li><a id="hotels" href="#hotels-tab" data-toggle="tab"><b><%= t(:hotels) %></b></a></li>
        <li><a id="houses" href="#houses-tab" data-toggle="tab"><b><%= t(:houses) %></b></a></li>
        <li><a href="#cruises-tab" data-toggle="tab">CRUISES</a></li>
        <li><a href="#tours-tab" data-toggle="tab">TOURS </a></li>
      </ul>
      <div class="visible-mobile">
        <ul id="mobile-search-tabs" class="search-tabs clearfix">
          <li class="active"><a id="flights" href="#flights-tab" data-toggle="tab"><%= t(:flights) %></a></li>
          <li><a id="hotels" href="#hotels-tab" data-toggle="tab"><b><%= t(:hotels) %></b></a></li>
          <li><a id="houses" href="#houses-tab" data-toggle="tab"><b><%= t(:houses) %></b></a></li>
          <li><a href="#cruises-tab" data-toggle="tab">CRUISES</a></li>
          <li><a href="#tours-tab" data-toggle="tab">TOURS </a></li>
        </ul>
      </div>

      <section id="search-form-container" data-hook="search-form-container">
        <div class="search-tab-content">
          <%= render :partial => 'spree/flights/inputs', :locals => {id: 'flights'} %>
          <%= render :partial => 'spree/hotels/inputs', :locals => {id: 'hotels'} %>
          <%#= render :partial => 'cars/inputs', :locals => {id: 'cars'} %>
          <%#= render :partial => 'packages/inputs', :locals => {id: 'packages'} %>
        </div>
      </section>
    </div>
  </div>

  <div class="section container">
    <h2>Popular Destination <%= image_tag('icon/top-destination', class: 'mytrp_icon') %></h2>

    <div class="row image-box style3">
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0">
            <a href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"> <%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/habana.jpg', size: "270x160", alt: "La Habana") %></a>
          </figure>
          <div class="details text-center">
            <h4 class="box-title">La Habana</h4>

            <div data-placement="left" data-toggle="tooltip" title="4 stars" class="five-stars-container">
              <span style="width: 80%;" class="five-stars"></span>
            </div>
            <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar.</p>
            <a class="button" href="cruise-detailed.html">SEE ALL</a>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.4">
            <a href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/varadero.jpg', size: "270x160", alt: "Varadero") %></a>
          </figure>
          <div class="details text-center">
            <h4 class="box-title">Varadero</h4>

            <div data-placement="bottom" data-toggle="tooltip" title="3 stars" class="five-stars-container">
              <span style="width: 80%;" class="five-stars"></span>
            </div>
            <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar.</p>
            <a class="button" href="cruise-detailed.html">SEE ALL</a>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.8">
            <a href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/trinidad.jpg', size: "270x160", alt: "Trinidad") %></a>
          </figure>
          <div class="details text-center">
            <h4 class="box-title">Trinidad</h4>


            <div data-placement="bottom" data-toggle="tooltip" title="5 stars" class="five-stars-container">
              <span style="width: 80%;" class="five-stars"></span>
            </div>
            <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar.</p>
            <a class="button" href="cruise-detailed.html">SEE ALL</a>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="1.2">
            <a href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/pinar.jpg', size: "270x160", alt: "Pinar") %></a>
          </figure>
          <div class="details text-center">
            <h4 class="box-title">Pinar</h4>

            <div data-placement="bottom" data-toggle="tooltip" title="5 stars" class="five-stars-container">
              <span style="width: 80%;" class="five-stars"></span>
            </div>
            <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar.</p>
            <a class="button" href="cruise-detailed.html">SEE ALL</a>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="image-section">
    <div class="container">

      <div class="text-center description">
        <h1>We Provide You An Ultimate Travel Experience</h1>

        <p>Nunc cursus libero purusac congue arcu cursus utsed vitae pulvinar massa idporta neque.</p>

        <p>Etiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
      </div>
      <br/>

      <div class="row image-box style8">
        <div class="col-md-4">
          <article class="box animated" data-animation-type="fadeInUp">
            <figure class="middle-block">
              <%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/travel.jpg', size: "100x172", alt: "Travel") %>
              <span class="opacity-wrapper"></span>
            </figure>
            <div class="details">
              <h2 class="box-title">Travel</h2>

              <p>
                Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque
                mi id faucibus iaculis vitae pulvinar.
              </p>
            </div>
          </article>
        </div>
        <div class="col-md-4">
          <article class="box animated" data-animation-type="fadeInUp">
            <figure class="middle-block">
              <%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/discover.jpg', size: "100x172", alt: "Discover") %>
              <span class="opacity-wrapper"></span>
            </figure>
            <div class="details">
              <h2 class="box-title">Discover</h2>

              <p>
                Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque
                mi id faucibus iaculis vitae pulvinar.
              </p>
            </div>
          </article>
        </div>
        <div class="col-md-4">
          <article class="box animated" data-animation-type="fadeInUp">
            <figure class="middle-block">
              <%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/enjoy.jpg', size: "100x172", alt: "Enjoy") %>
              <span class="opacity-wrapper"></span>
            </figure>
            <div class="details">
              <h2 class="box-title">Enjoy</h2>

              <p>
                Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque
                mi id faucibus iaculis vitae pulvinar.
              </p>
            </div>
          </article>
        </div>
      </div>

    </div>
  </div>
  <div class="section container">
    <h2>Popular Hotels <%= image_tag('icon/hotel.png', class: 'mytrp_icon') %></h2>

    <div class="row image-box hotel listing-style1">
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0">
            <a class="hover-effect popup-gallery" href="ajax/slideshow-popup.html" title=""><img width="270" height="160" src="http://placehold.it/270x160" alt=""></a>
          </figure>
          <div class="details">
                        <span class="price">
                            <small>avg/night</small>
                            $360
                        </span>
            <h4 class="box-title">Hotel Hilton
              <small>Paris france</small>
            </h4>
            <div class="feedback">
              <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom">
                <span class="five-stars" style="width: 80%;"></span></div>
              <span class="review">270 reviews</span>
            </div>
            <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta
              nequetiam.</p>

            <div class="action">
              <a href="hotel-detailed.html" class="button btn-small">SELECT</a>
              <a href="#" class="button btn-small yellow popup-map" data-box="48.856614, 2.352222">VIEW ON MAP</a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.6">
            <a class="hover-effect popup-gallery" href="ajax/slideshow-popup.html" title=""><img width="270" height="160" src="http://placehold.it/270x160" alt=""></a>
          </figure>
          <div class="details">
            <span class="price"><small>avg/night</small>$188</span>
            <h4 class="box-title">Forte Do Vale
              <small>Albufeira</small>
            </h4>
            <div class="feedback">
              <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom">
                <span class="five-stars" style="width: 80%;"></span></div>
              <span class="review">170 reviews</span>
            </div>
            <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta
              nequetiam.</p>

            <div class="action">
              <a href="hotel-detailed.html" class="button btn-small">SELECT</a>
              <a href="#" class="button btn-small yellow popup-map" data-box="37.089072, -8.247880">VIEW ON MAP</a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.9">
            <a class="hover-effect popup-gallery" href="ajax/slideshow-popup.html" title=""><img width="270" height="160" src="http://placehold.it/270x160" alt=""></a>
          </figure>
          <div class="details">
            <span class="price"><small>avg/night</small>$322</span>
            <h4 class="box-title">Gran Canaria
              <small>spain</small>
            </h4>
            <div class="feedback">
              <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom">
                <span class="five-stars" style="width: 80%;"></span></div>
              <span class="review">485 reviews</span>
            </div>
            <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta
              nequetiam.</p>

            <div class="action">
              <a href="hotel-detailed.html" class="button btn-small">SELECT</a>
              <a href="#" class="button btn-small yellow popup-map" data-box="40.463667, -3.749220">VIEW ON MAP</a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="1.2">
            <a class="hover-effect popup-gallery" href="ajax/slideshow-popup.html" title=""><img width="270" height="160" src="http://placehold.it/270x160" alt=""></a>
          </figure>
          <div class="details">
            <span class="price"><small>avg/night</small>$170</span>
            <h4 class="box-title">Roosevelt Hotel
              <small>New york</small>
            </h4>
            <div class="feedback">
              <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom">
                <span class="five-stars" style="width: 80%;"></span></div>
              <span class="review">75 reviews</span>
            </div>
            <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta
              nequetiam.</p>

            <div class="action">
              <a href="hotel-detailed.html" class="button btn-small">SELECT</a>
              <a href="#" class="button btn-small yellow popup-map" data-box="40.705631, -73.978003">VIEW ON MAP</a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="container">
    <h3>Cheap Flights & Air Tickets </h3>

    <div class="row image-box hotel listing-style1">
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box" id="cheapflight">
          <div class="row">
            <div class="col-sm-6"><h4 class="box-title">Santa Clara</h4></div><div class="col-sm-6"><%= image_tag('icon/fligth', class: 'fligthicon') %></div>
          </div>
          <div class="row">
            <div class="col-sm-6"><div class="price">$89.8</div></div>
            <div class="col-sm-6"><a href="hotel-detailed.html" class="button btn-small">SELECT</a></div>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box" id="cheapflight">
          <div class="row">
            <div class="col-sm-6"><h4 class="box-title">Santa Clara</h4></div><div class="col-sm-6"><%= image_tag('icon/fligth', class: 'fligthicon') %></div>
          </div>
          <div class="row">
            <div class="col-sm-6"><div class="price">$89.8</div></div>
            <div class="col-sm-6"><a href="hotel-detailed.html" class="button btn-small">SELECT</a></div>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box" id="cheapflight">
          <div class="row">
            <div class="col-sm-6"><h4 class="box-title">Santa Clara</h4></div><div class="col-sm-6"><%= image_tag('icon/fligth', class: 'fligthicon') %></div>
          </div>
          <div class="row">
            <div class="col-sm-6"><div class="price">$89.8</div></div>
            <div class="col-sm-6"><a href="hotel-detailed.html" class="button btn-small">SELECT</a></div>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box" id="cheapflight">
          <div class="row">
            <div class="col-sm-6"><h4 class="box-title">Santa Clara</h4></div><div class="col-sm-6"><%= image_tag('icon/fligth', class: 'fligthicon') %></div>
          </div>
          <div class="row">
            <div class="col-sm-6"><div class="price">$89.8</div></div>
            <div class="col-sm-6"><a href="hotel-detailed.html" class="button btn-small">SELECT</a></div>
          </div>
        </article>
      </div>

    </div>
  </div>
  </div>
  <div class="global-map-area promo-box no-margin parallax" data-stellar-background-ratio="1.5">
    <div class="container">
      <div class="content-section description pull-right col-sm-9">
        <div class="table-wrapper hidden-table-sm">
          <div class="table-cell">
            <h2 class="m-title animated" data-animation-type="fadeInDown" data-animation-duration="1.5">
              Tell us where you would like to go.<br/><em>12,000+ Hotel and Resorts Available!</em>
            </h2>
          </div>
          <div class="table-cell action-section col-md-4 no-float">
            <form method="post" action="hotel-list-view.html">
              <div class="row">
                <div class="col-xs-6 col-md-12">
                  <input type="text" class="input-text input-large full-width" value="" placeholder="Enter destination or hotel name"/>
                </div>
                <div class="col-xs-6 col-md-12">
                  <button class="full-width btn-large">search hotels</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="image-container col-sm-4">
        <img src="http://placehold.it/342x258" alt="" width="342" height="258" class="animated" data-animation-type="fadeInUp"/>
      </div>
    </div>
  </div>
  <div class="section container">
    <h2>Popular Tours <%= image_tag('icon/tours', class: 'mytrp_icon') %></h2>

    <div class="row image-box style3">
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0">
            <a href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/tourr.jpg', size: "270x160", alt: "Tour1") %></a>
          </figure>
          <div class="details text-center">
            <h4 class="box-title">Greece</h4>


            <div data-placement="bottom" data-toggle="tooltip" title="4 stars" class="five-stars-container">
              <span style="width: 80%;" class="five-stars"></span>
            </div>
            <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar.</p>
            <a class="button" href="cruise-detailed.html">SEE ALL</a>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.4">
            <a href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/tours.jpg', size: "270x160", alt: "Tour2") %></a>
          </figure>
          <div class="details text-center">
            <h4 class="box-title">Singapore</h4>


            <div data-placement="bottom" data-toggle="tooltip" title="4 stars" class="five-stars-container">
              <span style="width: 80%;" class="five-stars"></span>
            </div>
            <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar.</p>
            <a class="button" href="cruise-detailed.html">SEE ALL</a>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.8">
            <a href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/ttour.jpg', size: "270x160", alt: "Tour3") %></a>
          </figure>
          <div class="details text-center">
            <h4 class="box-title">Malaysia</h4>


            <div data-placement="bottom" data-toggle="tooltip" title="4 stars" class="five-stars-container">
              <span style="width: 80%;" class="five-stars"></span>
            </div>
            <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar.</p>
            <a class="button" href="cruise-detailed.html">SEE ALL</a>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="1.2">
            <a href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/tourss.jpg', size: "270x160", alt: "Tour4") %></a>
          </figure>
          <div class="details text-center">
            <h4 class="box-title">Europe</h4>


            <div data-placement="bottom" data-toggle="tooltip" title="4 stars" class="five-stars-container">
              <span style="width: 80%;" class="five-stars"></span>
            </div>
            <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar.</p>
            <a class="button" href="cruise-detailed.html">SEE ALL</a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<script>
    tjq(document).ready(function () {
        tjq('.revolution-slider').revolution(
                {
                    dottedOverlay: "none",
                    delay: 9000,
                    startwidth: 1170,
                    startheight: 646,
                    onHoverStop: "on",
                    hideThumbs: 10,
                    fullWidth: "on",
                    forceFullWidth: "on",
                    navigationType: "none",
                    shadow: 0,
                    spinner: "spinner4",
                    hideTimerBar: "on",
                });
    });
</script>