<div id="slideshow" xmlns="http://www.w3.org/1999/html">
  <div class="fullwidthbanner-container">
    <div class="revolution-slider" style="height: 0; overflow: hidden;">
      <ul>
        <li data-transition="slidedown" data-slotamount="7" data-masterspeed="1500">
          <img src="https://s3-us-west-2.amazonaws.com/webtriptocuba/vuelos_slide_en.jpg" alt="">
        </li>
      </ul>
    </div>
  </div>
</div>

<section id="content">
  <% render partial: 'spree/shared/general_search_box' %>
  <%= render partial: 'spree/shared/temporal_search_box' %>

  <div class="section container">
    <h2><%= t(:popular_destinations) %> <%= image_tag('icon/star_blue_32x32.png', class: 'mytrp_icon') %></h2>

    <div class="row image-box style3">
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0">
            <a href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"> <%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/habana.jpg', size: "270x160", alt: "La Habana") %></a>
          </figure>
          <div class="details text-center">
            <h4 class="box-title"><%= t(:destinohabana) %></h4>

            <div data-placement="left" data-toggle="tooltip" title="4 stars" class="five-stars-container">
              <span style="width: 80%;" class="five-stars"></span>
            </div>
            <%= t(:description_destino_habana_html) %>
            <a class="button" href="cruise-detailed.html"><%= t(:see_all) %></a>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.4">
            <a href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/varadero.jpg', size: "270x160", alt: "Varadero") %></a>
          </figure>
          <div class="details text-center">
            <h4 class="box-title"><%= t(:varadero) %></h4>

            <div data-placement="bottom" data-toggle="tooltip" title="3 stars" class="five-stars-container">
              <span style="width: 80%;" class="five-stars"></span>
            </div>
            <%= t(:description_destino_varadero_html) %>
            <a class="button" href="cruise-detailed.html"><%= t(:see_all) %></a>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.8">
            <a href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/trinidad.jpg', size: "270x160", alt: "Trinidad") %></a>
          </figure>
          <div class="details text-center">
            <h4 class="box-title"><%= t(:destinotrinidad) %></h4>


            <div data-placement="bottom" data-toggle="tooltip" title="5 stars" class="five-stars-container">
              <span style="width: 80%;" class="five-stars"></span>
            </div>
            <%= t(:description_destino_trinidad_html) %>
            <a class="button" href="cruise-detailed.html"><%= t(:see_all) %></a>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="1.2">
            <a href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/pinar.jpg', size: "270x160", alt: "Pinar") %></a>
          </figure>
          <div class="details text-center">
            <h4 class="box-title"><%= t(:destinopinardelrio) %></h4>

            <div data-placement="bottom" data-toggle="tooltip" title="5 stars" class="five-stars-container">
              <span style="width: 80%;" class="five-stars"></span>
            </div>
            <%= t(:description_destino_pinardelrio_html) %>
            <a class="button" href="cruise-detailed.html"><%= t(:see_all) %></a>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="image-section-food container">
    <div class="container">
      <div class="row">
        <div class="text-left title_food">
          <p>Find the best place to eat,<br>drink and dance in Cuba</p>

          <p class="subtitle">More than 600 restaurants & bars</p>

          <div class="col-md-2">
            <button class="full-width">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section container">
    <h2><%= t(:popular_hotels) %>  <%= image_tag('icon/hotel_orange_32x32.png', class: 'mytrp_icon') %></h2>

    <div class="row image-box hotel listing-style1">
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0">
            <a class="hover-effect popup-gallery" href="ajax/slideshow-popup.html" title=""><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/h_marques.jpg', size: "270x160", alt: "Hotel Marques de San Felipe y Bejucal") %></a>
          </figure>
          <div class="details">
                        <span class="price">
                            <small>avg/night</small>
                            $360
                        </span>
            <h4 class="box-title">Hotel Marques de San Felipe y Bejucal
              <small>Paris france</small>
            </h4>
            <div class="feedback">
              <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom">
                <span class="five-stars" style="width: 80%;"></span></div>
              <span class="review">270 reviews</span>
            </div>
            <p class="description">Uno de los últimos hoteles inaugurados en la Habana Vieja y el primero en la Plaza
              San Francisco de Asís...</p>

            <div class="action">
              <a href="hotel-detailed.html" class="button btn-small"><%= t(:select) %></a>
              <a href="#" class="button btn-small yellow popup-map" data-box="48.856614, 2.352222"><%= t(:view_on_map) %></a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.6">
            <a class="hover-effect popup-gallery" href="ajax/slideshow-popup.html" title=""><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/h_palacio_de_ofarril.jpg', size: "270x160", alt: "Hotel Palacio de Ofarrill") %></a>
          </figure>
          <div class="details">
            <span class="price"><small>avg/night</small>$188</span>
            <h4 class="box-title">Hotel Palacio de Ofarrill
              <small>Albufeira</small>
            </h4>
            <div class="feedback">
              <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom">
                <span class="five-stars" style="width: 80%;"></span></div>
              <span class="review">170 reviews</span>
            </div>
            <p class="description">El inmueble donde se encuentra hoy el Hotel de Palacio de O’Farrill...</p>

            <div class="action">
              <a href="hotel-detailed.html" class="button btn-small"><%= t(:select) %></a>
              <a href="#" class="button btn-small yellow popup-map" data-box="37.089072, -8.247880"><%= t(:view_on_map) %></a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.9">
            <a class="hover-effect popup-gallery" href="ajax/slideshow-popup.html" title=""><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/h_saratoga.jpg', size: "270x160", alt: "Hotel Saratoga") %></a>
          </figure>
          <div class="details">
            <span class="price"><small>avg/night</small>$322</span>
            <h4 class="box-title">Hotel Saratoga
              <small>spain</small>
            </h4>
            <div class="feedback">
              <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom">
                <span class="five-stars" style="width: 80%;"></span></div>
              <span class="review">485 reviews</span>
            </div>
            <p class="description">Es uno de los hoteles más lujosos y caros de La Habana, en la remodelación del
              inmueble fue respetado cada detalle...</p>

            <div class="action">
              <a href="hotel-detailed.html" class="button btn-small"><%= t(:select) %></a>
              <a href="#" class="button btn-small yellow popup-map" data-box="40.463667, -3.749220"><%= t(:view_on_map) %></a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="1.2">
            <a class="hover-effect popup-gallery" href="ajax/slideshow-popup.html" title=""><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/h_telegrafo.jpg', size: "270x160", alt: "Hotel Telegrafo") %></a>
          </figure>
          <div class="details">
            <span class="price"><small>avg/night</small>$170</span>
            <h4 class="box-title">Hotel Telegrafo
              <small>New york</small>
            </h4>
            <div class="feedback">
              <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom">
                <span class="five-stars" style="width: 80%;"></span></div>
              <span class="review">75 reviews</span>
            </div>
            <p class="description">Ubicado en una de las más famosas esquinas de La Habana: Prado y Neptuno, famosa por
              haber sido instalado en ella el primer semáforo...</p>

            <div class="action">
              <a href="hotel-detailed.html" class="button btn-small"><%= t(:select) %></a>
              <a href="#" class="button btn-small yellow popup-map" data-box="40.705631, -73.978003"><%= t(:view_on_map) %></a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class="CheapFlightTitle">Cheap Flights & Air
      Tickets <%= image_tag('icon/flight_blue_32x32.png', class: 'mytrp_icon') %></h2>

    <div class="image-carousel style2 block" data-animation="slide" data-item-width="270" data-item-margin="30">

      <div class="flex-viewport" style="overflow: hidden; position: relative;">
        <ul class="slides image-box listing-style2 flight" style="width: 1000%; transition-duration: 0.6s; transform: translate3d(0px, 0px, 0px);">
          <li style="width: 270px; float: left; display: block;">
            <article class="box">
              <figure>
                <span><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/airline1.png', size: "270x160", draggable: false) %></span>
              </figure>
              <div class="details">
                <a title="View all" href="flight-detailed.html" class="pull-right button btn-small uppercase">select</a>
                <h4 class="box-title">La Habana</h4>
                <label class="price-wrapper">
                  <span class="price">$620</span>oneway
                </label>
              </div>
            </article>
          </li>
          <li style="width: 270px; float: left; display: block;">
            <article class="box">
              <figure>
                <span><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/airline4.png', size: "270x160", draggable: false) %></span>
              </figure>
              <div class="details">
                <a title="View all" href="flight-detailed.html" class="pull-right button btn-small uppercase">select</a>
                <h4 class="box-title">Pinar del Rio</h4>
                <label class="price-wrapper">
                  <span class="price">$620</span>oneway
                </label>
              </div>
            </article>
          </li>
          <li style="width: 270px; float: left; display: block;">
            <article class="box">
              <figure>
                <span><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/airline3.png', size: "270x160", draggable: false) %></span>
              </figure>
              <div class="details">
                <a title="View all" href="flight-detailed.html" class="pull-right button btn-small uppercase">select</a>
                <h4 class="box-title">Trinidad</h4>
                <label class="price-wrapper">
                  <span class="price">$620</span>oneway
                </label>
              </div>
            </article>
          </li>
          <li style="width: 270px; float: left; display: block;">
            <article class="box">
              <figure>
                <span><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/airline4.png', size: "270x160", draggable: false) %></span>
              </figure>
              <div class="details">
                <a title="View all" href="flight-detailed.html" class="pull-right button btn-small uppercase">select</a>
                <h4 class="box-title">Cienfuegos</h4>
                <label class="price-wrapper">
                  <span class="price">$620</span>oneway
                </label>
              </div>
            </article>
          </li>
          <li style="width: 270px; float: left; display: block;">
            <article class="box">
              <figure>
                <span><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/airline1.png', size: "270x160", draggable: false) %></span>
              </figure>
              <div class="details">
                <a title="View all" href="flight-detailed.html" class="pull-right button btn-small uppercase">select</a>
                <h4 class="box-title">Santiago de Cuba</h4>
                <label class="price-wrapper">
                  <span class="price">$620</span>oneway
                </label>
              </div>
            </article>
          </li>
          <li style="width: 270px; float: left; display: block;">
            <article class="box">
              <figure>
                <span><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/airline4.png', size: "270x160", draggable: false) %></span>
              </figure>
              <div class="details">
                <a title="View all" href="flight-detailed.html" class="pull-right button btn-small uppercase">select</a>
                <h4 class="box-title">Varadero</h4>
                <label class="price-wrapper">
                  <span class="price">$620</span>oneway
                </label>
              </div>
            </article>
          </li>
          <li style="width: 270px; float: left; display: block;">
            <article class="box">
              <figure>
                <span><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/airline3.png', size: "270x160", draggable: false) %></span>
              </figure>
              <div class="details">
                <a title="View all" href="flight-detailed.html" class="pull-right button btn-small uppercase">select</a>
                <h4 class="box-title">Paris</h4>
                <label class="price-wrapper">
                  <span class="price">$620</span>oneway
                </label>
              </div>
            </article>
          </li>
          <li style="width: 270px; float: left; display: block;">
            <article class="box">
              <figure>
                <span><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/airline4.png', size: "270x160", draggable: false) %></span>
              </figure>
              <div class="details">
                <a title="View all" href="flight-detailed.html" class="pull-right button btn-small uppercase">select</a>
                <h4 class="box-title">Paris</h4>
                <label class="price-wrapper">
                  <span class="price">$620</span>oneway
                </label>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <ol class="flex-control-nav flex-control-paging">
        <li><a class="flex-active">1</a></li>
        <li><a class="">2</a></li>
      </ol>
      <ul class="flex-direction-nav">
        <li><a class="flex-prev" href="#">Previous</a></li>
        <li><a class="flex-next" href="#">Next</a></li>
      </ul>
    </div>
  </div>

  <div class="image-section container">
    <div class="container">
      <div class="image-container col-sm-4">
        <%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/h-nacional.jpg', size: '342x258', class: "animated") %>

      </div>
      <div class="col-xs-6">
        <h2 class="m-title animated searchoteltitle" data-animation-type="fadeInDown" data-animation-duration="1.5">
          Tell us where you would like to go.<br/>2,000+ Hotel and Resorts Available!
        </h2>

      </div>
      <div class="col-xs-6 searchotelform">
        <form method="post" action="hotel-list-view.html">
          <div class="row">
            <div class="col-lg-12">
              <input type="text" class="input-text input-large full-width" value="" placeholder="Enter destination or hotel name"/>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <button class="full-width btn-large">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="section container">
    <h2>Popular Tours <%= image_tag('icon/tours_blue_32x32.png', class: 'mytrp_icon') %></h2>

    <div class="row image-box style3">
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0">
            <a href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/cuba_private.jpg', size: "270x160", alt: "Tour1") %></a>
          </figure>
          <div class="details text-center">
            <h4 class="box-title"><%= t(:tour_cuba_private_title) %></h4>


            <div data-placement="bottom" data-toggle="tooltip" title="4 stars" class="five-stars-container">
              <span style="width: 80%;" class="five-stars"></span>
            </div>
            <p class="description"><%= t(:tour_cuba_private_short_description) %></p>
            <a class="button" href="cruise-detailed.html"><%= t(:see_all) %></a>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.4">
            <a href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/discover_cuba.jpg', size: "270x160", alt: "Tour2") %></a>
          </figure>
          <div class="details text-center">
            <h4 class="box-title"><%= t(:tour_discover_cuba_title) %></h4>


            <div data-placement="bottom" data-toggle="tooltip" title="4 stars" class="five-stars-container">
              <span style="width: 80%;" class="five-stars"></span>
            </div>
            <p class="description"><%= t(:tour_discover_cuba_short_description) %></p>
            <a class="button" href="cruise-detailed.html"><%= t(:see_all) %></a>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.8">
            <a href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/b2.png', size: "270x160", alt: "Tour3") %></a>
          </figure>
          <div class="details text-center">
            <h4 class="box-title"><%= t(:tour_havana_arts_title) %></h4>


            <div data-placement="bottom" data-toggle="tooltip" title="4 stars" class="five-stars-container">
              <span style="width: 80%;" class="five-stars"></span>
            </div>
            <p class="description"><%= t(:tour_havana_arts_short_description) %></p>
            <a class="button" href="cruise-detailed.html"><%= t(:see_all) %></a>
          </div>
        </article>
      </div>
      <div class="col-sms-6 col-sm-6 col-md-3">
        <article class="box">
          <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.8">
            <a href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/profesional.jpg', size: "270x160", alt: "Tour3") %></a>
          </figure>
          <div class="details text-center">
            <h4 class="box-title"><%= t(:tour_professional_title) %></h4>


            <div data-placement="bottom" data-toggle="tooltip" title="4 stars" class="five-stars-container">
              <span style="width: 80%;" class="five-stars"></span>
            </div>
            <p class="description"><%= t(:tour_professional_short_description) %></p>
            <a class="button" href="cruise-detailed.html"><%= t(:see_all) %></a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<script>
    tjq(document).ready(function () {
        tjq('.revolution-slider').revolution(
                {
                    dottedOverlay: "none",
                    delay: 9000,
                    startwidth: 1170,
                    startheight: 646,
                    onHoverStop: "on",
                    hideThumbs: 10,
                    fullWidth: "on",
                    forceFullWidth: "on",
                    navigationType: "none",
                    shadow: 0,
                    spinner: "spinner4",
                    hideTimerBar: "on",
                });
    });
</script>