<div class="tab-pane fade <%= 'active in' if active %>" id="hotels-tab">
  <form id="hotels-search-form" class="search-form" data-hook="hotels">
    <div class="row">
      <input type="hidden" name="locale" value="<%= params[:locale] %>">

      <div class="form-group col-sm-6 col-md-3">
        <label for="search-going-to"><%= t(:your_destination) %></label>
        <select id="hotels-search-going-to" name="search-going-to" class="select2" placeholder="<%= t(:enter_destination) %>"></select>
      </div>

      <div class="form-group col-sm-5 col-md-3">
        <div class="row">
          <div class="col-xs-6">
            <label><%= t(:check_in) %></label>

            <div class="datepicker-wrap">
              <input type="text" name="search-check-in-date" class="input-text full-width" id="hotels-search-check-in-date" placeholder="mm/dd/yy" value="<%= params['search-check-in-date'] %>"/>
            </div>
          </div>
          <div class="col-xs-6">
            <label><%= t(:check_out) %></label>

            <div class="datepicker-wrap">
              <input type="text" name="search-check-out-date" class="input-text full-width" id="hotels-search-check-out-date" placeholder="mm/dd/yy" value="<%= params['search-check-out-date'] %>"/>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group col-sm-6 col-md-3">
        <div class="row">
          <div class="col-xs-4">
            <label><%= t(:rooms) %></label>

            <div class="selector">
              <select name="search-rooms" class="full-width" id="hotels-search-rooms">
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
              </select>
            </div>
          </div>
          <div class="col-xs-4">
            <label><%= t(:adults) %></label>

            <div class="selector">
              <select name="search-adults" class="full-width" id="hotels-search-adults">
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
              </select>
            </div>
          </div>
          <div class="col-xs-4">
            <label><%= t(:kids) %></label>

            <div class="selector">
              <select name="search-kids" class="full-width" id="hotels-search-kids">
                <option value="0">00</option>
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7"></div>
        <div class="form-group col-sm-6 col-md-2 ">
          <label class="hidden-xs">&nbsp;</label>
          <button type="submit" class="full-width animated" id="search-submit" name="search-submit" data-animation-type="bounce" data-animation-duration="1"><%= t(:search_now) %></button>
        </div>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript">
    tjq(document).ready(function () {
        // Set options into destination auto-complete component with /api/destinations service response.
        tjq('#hotels-search-going-to').loadSelectOptions('/api/destinations');

        // Add all templates found in the DOM (it will search for <script> blocks which are of type 'text/html'.
        tjq.Mustache.addFromDom();

        tjq('.products-view-type li a').on('click', function () {
            localStorage.setItem('product-view-type', this.href.split("#").pop());
            tjq('#hotels-search-result').renderProducts('hotels');
        });

        // Listen to submit event search form.
        tjq('#hotels-search-form').on('submit', function (e) {

            // Search and render hotels products.
            tjq(this).searchProducts('hotels', '/api/hotels', function (sucefful, error) {
                if (sucefful) {
                    // Render response items.
                    tjq('#hotels-search-result').renderProducts('hotels');
                }
            });

            // Cancel default submit action.
            e.preventDefault();
        });
    });
</script>
