<% content_for :pagetitle do %>
  <%= render partial: 'spree/hotels/pagetitle' %>
<% end %>

<% content_for :travel_search_box do %>
  <%= render :partial => 'spree/hotels/search_box', :locals => {id: 'hotels', active: true} %>
<% end %>

<% content_for :sidebar do %>
  <%= render partial: 'spree/hotels/filter' %>
<% end %>

<%= render partial: 'spree/hotels/sort_by' %>

<div id="hotels-search-result">
  <%= render partial: 'spree/hotels/list' %>
  <%= render partial: 'spree/hotels/grid' %>
  <%= render partial: 'spree/hotels/block' %>
</div>

<% if @products.respond_to?(:num_pages) %>
  <%= paginate @products, theme: 'twitter-bootstrap-3' %>
<% end %>

<script type="text/javascript">
    tjq(document).ready(function () {
        tjq('#hotels-search-result').renderProducts('hotels');
    })
</script>

